@import url('../design/css/uswds.min.css');
@import url('./feature/hero.css');
@import url('./feature/random-post.css');
@import url('./feature/travel-destination.css');
@import url('./feature/signature-bio.css');
@import url('./component/article-info.css');
@import url('./component/header.css');
@import url('./feature/related-article.css');
@import url('./component/footer.css');

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

p {
    line-height: 1.5em;
}

p.bold {
    font-weight: bold;
}

p.italic {
    font-style: italic;
}

p.underline {
    text-decoration: underline;
}

a {
    text-decoration: underline;
}

.text-primary {
    color: #2168A6;
}

.text-secondary {
    color: #F28241
}

.text-secondary-darker {
    color: #a1420b;
}

.text-accent {
    color: #66A3D9;
}

.bg-primary {
    background-color: #2168A6;
}

.bg-secondary {
    background-color: #F28241
}

.bg-accent {
    background-color: #66A3D9;
}

/* START Main Content */
.grid-container {
    display: flex;
    justify-content: flex-start;
}

.random-hero-main {
    background: url('https://picsum.photos/800/300') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding-bottom: 20px;
    min-height: 600px;
}

main .content {
    width: 75vw;
    display: flex;
    padding: 10px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.featured-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.title {
    color: #a1420b;
}

/* END Main Content */
.article-img {
    display: block;
    max-width: 100%;
    margin: 10px 0;
}

@media screen and (max-width: 414px) {
    main .content {
        width: 80vw;
    }

}

@media screen and (min-width: 600px) and (max-width: 800px) {
    main .content {
        width: 85vw;
    }

}