.hero-main {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
blockquote {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0,0,0,.3);
}
blockquote:before {
    position: relative;
    content: open-quote;
    font-size: 3em;
    color: #fff;
    top: -10px;
    left: -5px;
}
blockquote:after {
    position: absolute;
    content: close-quote;
    bottom: -5px;
    right: 10px;
    font-size: 3em;
    color: #fff;
}
blockquote p {
    font-size: 1.2em;
    color: #fff;
    font-style: italic;
    text-align: center;
}

.cresta-de-gallo-hero {
    background: url('/assets/photos/cresta-de-gallo-clearwater-island-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: bottom;
}
.emilio-aguinaldo-shrine-hero {
    background: url('/assets/photos/emilio-aguinaldo-shrine-outside-roof-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
}
.mt-samat-hero {
    background: url('/assets/photos/mt-samat-cross-grayscale-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
}
.lambug-beach-hero{
    background: url('/assets/photos/lambug-beach-rocky-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
}
.fort-san-pedro-hero{
    background: url('/assets/photos/fort-san-pedro-with-flag-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 25% 37%;
}
.fort-santiago-hero{
    background: url('/assets/photos/fort-santiago-tunnel-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 25% 37%;
}
.malapascua-island-hero{
    background: url('/assets/photos/malapascua-island-grayscale-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 25% 37%;
}
.the-irako-hero{
    background: url('/assets/photos/the-irako-cloudy-sunset-640.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 67%;
}
.index-beaches-hero{
    background: url('/assets/photos/index-beaches-two-feet-sand-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 82%;
}
.index-wreck-diving-hero{
    background: url('/assets/photos/index-wreck-diving-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 62%;
}
.index-shrine-hero{
    background: url('/assets/photos/index-shrine-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 32%;
}
.index-fort-hero{
    background: url('/assets/photos/index-fort-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 60%;
}
.index-main-hero{
    background: url('/assets/photos/index-main-book-on-the-leaves-800.jpg') 0 0 no-repeat;
    background-position-y: 60%;
    background-size: cover;
}
.index-main-about-hero{
    background: url('/assets/photos/index-main-about-philippine-globe-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 32%;
}
.el-nido-hero {
    background: url('/assets/photos/el-nido-800.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 414px) {
    blockquote:before {
        top: -30px;
        left: -7px;
    }
    blockquote:after {
        bottom: -5px;
        right: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    blockquote:before {
        top: -20px;
        left: -7px;
    }
    blockquote:after {
        bottom: -5px;
        right: 15px;
    }
}